<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <section>
        <h1>Webshop</h1>
    </section>
    <nav>
        <a href="/">Home</a>
        <a href="/Blog">Blog</a>
        <a href="/info/about-us">About Us</a>
        <a href="/info/contact-us">Contact Us</a>
        <a href="/info/general-information">General Information</a>
    </nav>
</header>
<main>